.main {
    // position: relative;
    width: 100%;
    height: 700px;
    background-color: $accent;
    overflow: hidden;
    @include resVal(height, 320, 700, 320, 1920);

    // &::before {
    //     content: '';
    //     position: absolute;
    //     bottom: -1px;
    //     left: 0;
    //     right: 0;
    //     height: 15px;
    //     background-color: $light;
    // }

    &.is-index {

        .main-img {

            &:nth-child(1) {
                bottom: 0;
                left: 0;
                // width: 26%;
                width: 500px;
                @include resVal(width, 150, 500, 320, 1920);
                // width: 500px;
                // @include resVal(width);
            }

            &:nth-child(2) {
                z-index: 1;
                // top: 5%;
                // right: 22%;
                top: 32px;
                right: 420px;
                // width: 15.6%;
                width: 300px;
                @include resVal(top, 0, 32, 320, 1920);
                @include resVal(right, 10, 420, 320, 1920);
                @include resVal(width, 100, 300, 320, 1920);
            }

            &:nth-child(3) {
                // bottom: -23%;
                // right: -26.8%;
                bottom: -100px;
                right: -514px;
                // width: 50.8%;
                width: 976px;
                @include resVal(bottom, 10, -100, 320, 1920);
                @include resVal(right, -170, -514, 320, 1920);
                @include resVal(width, 250, 976, 320, 1920);
            }
        }

        .main__title {
            top: 90px;
            left: 310px;
            @include resVal(left, 16, 310, 320, 1920);
        }
    }
}

.main__wrap {
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main__decor {

}

.main-img {
    position: absolute;
    height: auto;
}

.main__title {
    position: absolute;
    z-index: 1;
    font-family: $ff-title;
    font-size: 176px;
    font-weight: 400;
    line-height: .85;
    color: $light;
    @include resVal(font-size, 40, 176, 320, 1920);

    span {
        display: block;

        &:nth-child(2) {
            margin-left: 0.6em;
        }

        &:nth-child(3) {
            margin-left: 1.2em;
        }
    }
}