.s-yell {
    position: relative;
    width: 100%;
    height: 700px;
    @include resVal(height, 320, 700, 320, 1920);

    &.is-dark {
        background-color: $accent;
        color: $light;
    }

    &.is-light {
        background-color: $frame-gray;
        color: $text-primary;
    }

    &.for-index-main {

        .s-yell__content {
            top: 90px;
            left: 310px;
            @include resVal(top, 100, 90, 320, 1920);
            @include resVal(left, 16, 310, 320, 1920);
        }

        .s-yell-img {

            &.is-1 {
                bottom: -16px;
                left: 0;
                width: 500px;
                @include resVal(left, -50, 0, 320, 1920);
                @include resVal(width, 180, 500, 320, 1920);
            }

            &.is-2 {
                z-index: 1;
                top: 32px;
                right: 420px;
                width: 300px;
                @include resVal(top, -16, 32, 320, 1920);
                @include resVal(right, -50, 420, 320, 1920);
                @include resVal(width, 130, 300, 320, 1920);
            }

            &.is-3 {
                bottom: -100px;
                right: -514px;
                width: 976px;
                @include resVal(bottom, -90, -100, 320, 1920);
                @include resVal(right, -150, -514, 320, 1920);
                @include resVal(width, 250, 976, 320, 1920);
            }
        }
    }

    &.for-about {

        .s-yell__content {
            top: 90px;
            left: 310px;
            @include resVal(top, 80, 90, 320, 1920);
            @include resVal(left, 16, 310, 320, 1920);
        }

        .s-yell__content-body {
            margin-left: 20%;

            @media (max-width: 500px) {
                margin-left: 10%;
            }
        }

        .s-yell__title {

            span {

                &:nth-child(2) {
                    margin-left: 1.3em;

                    @media (max-width: 500px) {
                        margin-left: .6em;
                    }
                }
            }
        }

        .s-yell-img {

            &.is-1 {
                bottom: 0;
                left: 0;
                width: 464px;
                @include resVal(left, -20, 0, 320, 1920);
                @include resVal(bottom, -20, 0, 320, 1920);
                @include resVal(width, 150, 464, 320, 1920);
            }

            &.is-2 {
                // display: none;
                z-index: 1;
                top: 140px;
                right: 198px;
                width: 417px;
                @include resVal(top, -50, 140, 320, 1920);
                @include resVal(right, -30, 198, 320, 1920);
                @include resVal(width, 150, 417, 320, 1920);
            }

            &.is-3 {
                top: 37px;
                right: -148px;
                width: 603px;
                @include resVal(top, 200, 37, 320, 1920);
                @include resVal(right, -60, -148, 320, 1920);
                @include resVal(width, 200, 603, 320, 1920);
            }
        }
    }

    &.for-museum-hers {
        height: 640px;
        @include resVal(height, 320, 640, 320, 1920);

        .s-yell__content {
            top: 90px;
            left: 370px;
            @include resVal(left, 16, 370, 320, 1920);

            span {

                &:nth-child(3) {
                    margin-left: .6em;
                }
            }
        }

        .s-yell-img {

            &.is-1 {
                bottom: -35px;
                left: 150px;
                width: 300px;
                @include resVal(bottom, -15, -35, 320, 1920);
                @include resVal(left, -20, 150, 320, 1920);
                @include resVal(width, 120, 300, 320, 1920);
            }

            &.is-2 {
                top: 150px;
                left: -1560px;
                width: 1958px;
                @include resVal(top, 170, 150, 320, 1920);
                @include resVal(left, -800, -1560, 320, 1920);
                @include resVal(width, 1000, 1958, 320, 1920);
            }

            &.is-3 {
                top: -15px;
                right: 0;
                width: 448px;
                @include resVal(right, -30, 0, 320, 1920);
                @include resVal(width, 170, 448, 320, 1920);
            }

            &.is-4 {
                top: 336px;
                right: -1190px;
                width: 1958px;
                @include resVal(top, 180, 336, 320, 1920);
                @include resVal(right, -720, -1190, 320, 1920);
                @include resVal(width, 1000, 1958, 320, 1920);
            }
        }
    }

    &.for-museum-novg {
        height: 640px;
        @include resVal(height, 320, 640, 320, 1920);

        .s-yell__content {
            top: 90px;
            left: 370px;
            @include resVal(left, 16, 370, 320, 1920);

            span {

                &:nth-child(3) {
                    margin-left: .6em;
                }
            }
        }

        .s-yell-img {

            &.is-1 {
                bottom: 60px;
                left: -300px;
                width: 710px;
                @include resVal(bottom, -20, 60, 320, 1920);
                @include resVal(left, -100, -300, 320, 1920);
                @include resVal(width, 240, 710, 320, 1920);
            }

            &.is-2 {
                top: -204px;
                left: -455px;
                width: 600px;
                @include resVal(top, -90, -204, 320, 1920);
                @include resVal(left, -40, -455, 320, 1920);
                @include resVal(width, 130, 600, 320, 1920);
            }

            &.is-3 {
                top: 90px;
                right: -430px;
                width: 600px;
                @include resVal(top, 120, 90, 320, 1920);
                @include resVal(right, -260, -430, 320, 1920);
                @include resVal(width, 300, 600, 320, 1920);
            }

            &.is-4 {
                bottom: -23px;
                right: -68px;
                width: 416px;
                @include resVal(bottom, -30, -23, 320, 1920);
                @include resVal(right, -10, -68, 320, 1920);
                @include resVal(width, 130, 416, 320, 1920);
            }
        }
    }

    &.for-exhibit-antique-hersones {
        height: 490px;
        @include resVal(height, 200, 490, 320, 1920);

        .s-yell__content {
            top: 90px;
            left: 100px;
            @include resVal(left, 16, 100, 320, 1920);
            @include resVal(top, 60, 90, 320, 1920);

            span {

                &:nth-child(2) {
                    margin-left: 2.4em;
                }
            }
        }

        .s-yell-img {

            &.is-1 {
                top: 90px;
                right: -240px;
                width: 600px;
                @include resVal(top, 130, 90, 320, 1920);
                @include resVal(right, -70, -240, 320, 1920);
                @include resVal(width, 200, 600, 320, 1920);
            }
        }
    }

    &.for-exhibit-byzantine-hersones {
        height: 490px;
        @include resVal(height, 200, 490, 320, 1920);

        .s-yell__content {
            top: 90px;
            left: 100px;
            @include resVal(left, 16, 100, 320, 1920);
            @include resVal(top, 60, 90, 320, 1920);

            span {

                &:nth-child(2) {
                    margin-left: 2.4em;
                }
            }
        }

        .s-yell-img {

            &.is-1 {
                top: 136px;
                right: -1450px;
                width: 2200px;
                @include resVal(top, 105, 136, 320, 1920);
                @include resVal(right, -360, -1450, 320, 1920);
                @include resVal(width, 600, 2200, 320, 1920);
            }
        }
    }

    &.for-exhibit-novg {
        height: 490px;
        @include resVal(height, 200, 490, 320, 1920);

        .s-yell__content {
            top: 90px;
            left: 100px;
            @include resVal(left, 16, 100, 320, 1920);
            @include resVal(top, 60, 90, 320, 1920);

            span {

                &:nth-child(2) {
                    margin-left: 2.4em;
                }
            }
        }

        .s-yell-img {

            &.is-1 {
                top: 315px;
                left: -200px;
                width: 600px;
                @include resVal(top, 120, 315, 320, 1920);
                @include resVal(left, -100, -200, 320, 1920);
                @include resVal(width, 200, 600, 320, 1920);
            }

            &.is-2 {
                top: -470px;
                right: -324px;
                width: 600px;
                @include resVal(top, -180, -470, 320, 1920);
                @include resVal(right, -120, -324, 320, 1920);
                @include resVal(width, 200, 600, 320, 1920);
            }
        }
    }
}

.s-yell__wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.s-yell__body {
    max-width: 1920px;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.s-yell__decor {
    // user-select: none;
    // pointer-events: none;

    &.is-outside {
        max-width: 1920px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
    }
}

.s-yell-img {
    position: absolute;
    height: auto;
}

.s-yell__content {
    position: absolute;
    z-index: 2;
}

.s-yell__title {
    // position: absolute;
    // z-index: 1;
    font-family: $ff-title;
    font-size: 176px;
    font-weight: 400;
    line-height: .85;
    @include resVal(font-size, 40, 176, 320, 1920);

    span {
        display: block;

        &:nth-child(2) {
            margin-left: 0.6em;
        }

        &:nth-child(3) {
            margin-left: 1.2em;
        }
    }
}

.s-yell__text {
    font-size: 38px;
    margin-top: 20px;
    @include resVal(font-size, 14, 38, 320, 1920);

    @media (max-width: $mobile-l) {
        margin-top: 12px;
    }
}

.s-yell__btn {
    margin-top: 60px;
    @include resVal(margin-top, 14, 60, 320, 1920);
}