// Основной шаблон кнопки
.btn {
	height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
    padding: 0 60px;
    // border-radius: $radius-s;
    white-space: nowrap;
    user-select: none;
	gap: 8px;
	// background-color: $accent-second;
    transition: $tr;

	&.is-accent {
		color: $light;
		background-color: #3B1120;

		@media (any-hover: hover) {

			&:hover {
				background: #5b2739;
			}
		}
	}

	&.is-second {
		color: $light;
		background-color: $accent-second;

		@media (any-hover: hover) {

			&:hover {
				background: $accent-second-hov;
			}
		}
	}

	@mixin IconForButton() {
		content: '';
		display: inline-block;
		width: var(--icon-size, 16px);
		aspect-ratio: 1/1;
		@include mask(center/contain no-repeat var(--icon-path));
		background-color: var(--icon-color, #{$light});
		transition: $tr;

		@media (max-width: $mobile-l) {
			--icon-size: 18px;
		}
	}

	@mixin defineIcon($title, $path) {
		&[data-icon-right=#{$title}],
		&[data-icon-left=#{$title}] {
			--icon-path: #{$path};
		}
	}

	&[data-icon-right] {

		&::after {
			@include IconForButton();
		}
	}

	&[data-icon-left] {

		&::before {
			@include IconForButton();
		}
	}

	@include defineIcon(recipe, url(/img/sprite/recipe.svg));

	@media (any-hover: hover) {

		&:hover {
			background: $accent-second-hov;
		}
	}

	@media (max-width: $tablet) {
		height: 54px;
		padding: 0 24px;
		font-size: 14px;
	}

	@media (max-width: $mobile-l) {
		height: 44px;
		padding: 0 16px;
		font-size: 13px;
	}
}

.link {
    transition: $tr;

    @media (any-hover: hover) {

        &:hover {
            color: $accent;
        }
    }

    &:active {
        color: $accent-hov;
    }
}

.link-more {
	width: fit-content;
	font-size: 18px;
	color: $accent-second;

	&::after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin-left: 4px;
		width: 16px;
		height: auto;
		aspect-ratio: 1/1;
		background: center/contain no-repeat url(/img/sprite/more.svg);
		transition: $tr;
	}

	@media (any-hover: hover) {

		&:hover {

			&::after {
				transform: translateX(6px);
			}
		}
	}
}